[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "quarto"]
	path = quarto
	url = https://github.com/quarto-dev/quarto-r
	shallow = true
	registered = true
